<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns="http://java.sun.com/xml/ns/javaee" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd" version="3.0">
  <display-name>CarBooking</display-name>
  <welcome-file-list>
    <welcome-file>index.html</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>GetCars</servlet-name>
    <servlet-class>bin.GetCars</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetTown</servlet-name>
    <servlet-class>bin.GetTown</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetActualDateBooking</servlet-name>
    <servlet-class>bin.GetActualDateBooking</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetActualDateInsertBooking</servlet-name>
    <servlet-class>bin.GetActualDateInsertBooking</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>DeleteSelectedBooking</servlet-name>
    <servlet-class>bin.DeleteSelectedBooking</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckIfExistsBooking</servlet-name>
    <servlet-class>bin.CheckIfExistsBooking</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>InsertBooking</servlet-name>
    <servlet-class>bin.InsertBooking</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetDayBooking</servlet-name>
    <servlet-class>bin.GetDayBooking</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateBooking</servlet-name>
    <servlet-class>bin.UpdateBooking</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetSelectedBooking</servlet-name>
    <servlet-class>bin.GetSelectedBooking</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetVehicles</servlet-name>
    <servlet-class>bin.GetVehicles</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetWeekBooking</servlet-name>
    <servlet-class>bin.GetWeekBooking</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetMonthBooking</servlet-name>
    <servlet-class>bin.GetMonthBooking</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckIfTimeIsModifyed</servlet-name>
    <servlet-class>bin.CheckIfTimeIsModifyed</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>CheckIfExistsBookingInUpdate</servlet-name>
    <servlet-class>bin.CheckIfExistsBookingInUpdate</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>GetSelectedVehicle</servlet-name>
    <servlet-class>bin.GetSelectedVehicle</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>UpdateSelectedVehicle</servlet-name>
    <servlet-class>bin.UpdateSelectedVehicle</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>GetCars</servlet-name>
    <url-pattern>/GetCars</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetTown</servlet-name>
    <url-pattern>/GetTown</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetActualDateBooking</servlet-name>
    <url-pattern>/GetActualDateBooking</url-pattern>
  </servlet-mapping>
   <servlet-mapping>
    <servlet-name>GetActualDateInsertBooking</servlet-name>
    <url-pattern>/GetActualDateInsertBooking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>DeleteSelectedBooking</servlet-name>
    <url-pattern>/DeleteSelectedBooking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckIfExistsBooking</servlet-name>
    <url-pattern>/CheckIfExistsBooking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>InsertBooking</servlet-name>
    <url-pattern>/InsertBooking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetDayBooking</servlet-name>
    <url-pattern>/GetDayBooking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateBooking</servlet-name>
    <url-pattern>/UpdateBooking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSelectedBooking</servlet-name>
    <url-pattern>/GetSelectedBooking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetVehicles</servlet-name>
    <url-pattern>/GetVehicles</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetWeekBooking</servlet-name>
    <url-pattern>/GetWeekBooking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetMonthBooking</servlet-name>
    <url-pattern>/GetMonthBooking</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckIfTimeIsModifyed</servlet-name>
    <url-pattern>/CheckIfTimeIsModifyed</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>CheckIfExistsBookingInUpdate</servlet-name>
    <url-pattern>/CheckIfExistsBookingInUpdate</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>GetSelectedVehicle</servlet-name>
    <url-pattern>/GetSelectedVehicle</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>UpdateSelectedVehicle</servlet-name>
    <url-pattern>/UpdateSelectedVehicle</url-pattern>
  </servlet-mapping>
  <session-config>
  	<session-timeout>
    	30
  	</session-timeout>
  </session-config>
</web-app>